#contact-map {
  width: 100%;
  height: 100%;
  min-height: 350px;
  border-radius: 12px;
  overflow: hidden;
}

/* Karte in Light/Dark Mode neutral halten */
.maplibregl-control-container {
  filter: invert(0); 
}
@media (prefers-color-scheme: dark) {
  .maplibregl-control-container {
    filter: invert(1);
  }
}